<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
1. R language
1. SQL
1. JavaScript

Some of the commonly used libraries used by Data Scientists include:
Most of the data scientists works by using the language Python so here are some most common libraries used:
1. Pandas
1. NumPy
1. SciPy
1. scikit-learn
1. TensarFlow
1. keras

Here are some R language libraries: 

1. dplyr
1. ggplot2
1. Esquisse
1. Shiny
1. Plotty

Data Science Tools: 

1. Statistical Analysis System
1. Apache Hadoop
1. Apache Spark
1. Tensor Flow
1. Juypter

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [5]:
print((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [6]:
print(200/60)

3.3333333333333335

## Author

K Dinesh Kumar